header{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: #1285AA;
    nav{
        height: 8vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        .menu{
            margin-left: 2vw;
            justify-self: start;
        }
        // .logo{
        // }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            li{ 
                display: grid;
                font-size: 1.5vw;
                border-right: 2px white solid;
                padding-right: 1vw;
                padding-left: 2vw;
            }
            li:hover{
                background-color: #00bfff;
                color: white;
            }
        }
    }
}